# Code formatter
black<27
flake8-tidy-imports<5
flake8-type-checking<4
# Import formatter
isort<9
# Documentation
mkdocs-material<10
# Pre-commit hooks
pre-commit<5
# Testing
pytest<10
# Code coverage
pytest-cov<8
# Linter
ruff<0.16
