name: Pre-commit

on:
  push:

jobs:
  run-tests:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install default dependencies
        run: |
          python -m pip install -r requirements.txt
          python -m pip install -r requirements-torch.txt

      - name: Install dev packages
        run: python -m pip install -r requirements-dev.txt

      - name: Check pre-commit hooks
        run: |
          pre-commit run --all-files --show-diff-on-failure
